In [34]:
try:
    import os
    import pandas as pd
    import matplotlib.pyplot as plt
except Exception as e:
    print(f"error ehile importing packages! \n\n{e}")

In [3]:
#import datasets
data = pd.read_csv('../datasets/owid-covid-data.csv')
data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN

In [4]:
data.tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
99351,ZWE,Africa,Zimbabwe,2021-06-26,46018.0,801.0,627.143,1725.0,4.0,8.429,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
99352,ZWE,Africa,Zimbabwe,2021-06-27,46442.0,424.0,666.143,1736.0,11.0,9.143,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
99353,ZWE,Africa,Zimbabwe,2021-06-28,47284.0,842.0,727.000,1749.0,13.0,9.143,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
99354,ZWE,Africa,Zimbabwe,2021-06-29,48533.0,1249.0,831.286,1761.0,12.0,10.000,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
99355,ZWE,Africa,Zimbabwe,2021-06-30,49864.0,1331.0,912.000,1789.0,28.0,13.857,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN

In [6]:
print(f'number of columns: {len(data.columns)}')

number of columns: 60

In [7]:
data.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
       'new_vaccinations_smoothed_per_million', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'excess_mortality'],
      dtype='object')

In [13]:
data['location'].unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'European Union',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'International', 'Iran', 'Iraq', 'Ireland',
       'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North America',
       'North Macedonia', 'Northern Cyprus', 'Norway', 'Oceania', 'Oman',
       'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Pitcairn', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela',
       'Vietnam', 'Wallis and Futuna', 'World', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [14]:
print(f"number of locations: {len(data['location'].unique())}")

number of locations: 230

In [16]:
#Saudi Arabia, United Arab Emirates, Qatar, Bahrain, Kuwait, Oman
ksa = data.loc[data['location']=='Saudi Arabia']
uae = data.loc[data['location']=='United Arab Emirates']
qatar = data.loc[data['location']=='Qatar']
bahrain = data.loc[data['location']=='Bahrain']
kuwait = data.loc[data['location']=='Kuwait']
oman = data.loc[data['location']=='Oman']

In [18]:
gulf = pd.concat([ksa,uae,qatar,bahrain,kuwait,oman])
gulf.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
77407,SAU,Asia,Saudi Arabia,2020-03-02,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,259.538,17.72,1.8,25.4,NaN,2.7,75.13,0.854,NaN
77408,SAU,Asia,Saudi Arabia,2020-03-03,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,259.538,17.72,1.8,25.4,NaN,2.7,75.13,0.854,NaN
77409,SAU,Asia,Saudi Arabia,2020-03-04,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,259.538,17.72,1.8,25.4,NaN,2.7,75.13,0.854,NaN
77410,SAU,Asia,Saudi Arabia,2020-03-05,5.0,4.0,NaN,NaN,NaN,NaN,...,NaN,259.538,17.72,1.8,25.4,NaN,2.7,75.13,0.854,NaN
77411,SAU,Asia,Saudi Arabia,2020-03-06,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,259.538,17.72,1.8,25.4,NaN,2.7,75.13,0.854,NaN

In [19]:
gulf.tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
68315,OMN,Asia,Oman,2021-06-26,256542.0,0.0,1974.143,2848.0,0.0,31.714,...,NaN,266.342,12.61,0.5,15.6,97.4,1.6,77.86,0.813,NaN
68316,OMN,Asia,Oman,2021-06-27,262059.0,5517.0,2002.286,2967.0,119.0,36.714,...,NaN,266.342,12.61,0.5,15.6,97.4,1.6,77.86,0.813,NaN
68317,OMN,Asia,Oman,2021-06-28,264302.0,2243.0,1961.429,3013.0,46.0,38.857,...,NaN,266.342,12.61,0.5,15.6,97.4,1.6,77.86,0.813,NaN
68318,OMN,Asia,Oman,2021-06-29,266536.0,2234.0,1989.571,3056.0,43.0,39.143,...,NaN,266.342,12.61,0.5,15.6,97.4,1.6,77.86,0.813,NaN
68319,OMN,Asia,Oman,2021-06-30,268545.0,2009.0,1984.143,3100.0,44.0,40.571,...,NaN,266.342,12.61,0.5,15.6,97.4,1.6,77.86,0.813,NaN

In [20]:
gulf.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
       'new_vaccinations_smoothed_per_million', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'excess_mortality'],
      dtype='object')

In [32]:
gulfFinal = gulf[['iso_code','continent','location','date','total_cases','new_cases',
                  'total_deaths','new_deaths','icu_patients','new_tests','total_tests',
                  'positive_rate','total_vaccinations','people_vaccinated','people_fully_vaccinated',
                  'new_vaccinations','population','median_age','aged_65_older','aged_70_older',
                  'female_smokers','male_smokers','human_development_index'
                 ]]

In [33]:
gulfFinal

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,icu_patients,new_tests,...,people_vaccinated,people_fully_vaccinated,new_vaccinations,population,median_age,aged_65_older,aged_70_older,female_smokers,male_smokers,human_development_index
77407,SAU,Asia,Saudi Arabia,2020-03-02,1.0,1.0,NaN,NaN,NaN,160.0,...,NaN,NaN,NaN,34813867.0,31.9,3.295,1.845,1.8,25.4,0.854
77408,SAU,Asia,Saudi Arabia,2020-03-03,1.0,0.0,NaN,NaN,NaN,240.0,...,NaN,NaN,NaN,34813867.0,31.9,3.295,1.845,1.8,25.4,0.854
77409,SAU,Asia,Saudi Arabia,2020-03-04,1.0,0.0,NaN,NaN,NaN,298.0,...,NaN,NaN,NaN,34813867.0,31.9,3.295,1.845,1.8,25.4,0.854
77410,SAU,Asia,Saudi Arabia,2020-03-05,5.0,4.0,NaN,NaN,NaN,487.0,...,NaN,NaN,NaN,34813867.0,31.9,3.295,1.845,1.8,25.4,0.854
77411,SAU,Asia,Saudi Arabia,2020-03-06,5.0,0.0,NaN,NaN,NaN,1024.0,...,NaN,NaN,NaN,34813867.0,31.9,3.295,1.845,1.8,25.4,0.854
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68315,OMN,Asia,Oman,2021-06-26,256542.0,0.0,2848.0,0.0,NaN,NaN,...,NaN,NaN,NaN,5106622.0,30.7,2.355,1.530,0.5,15.6,0.813
68316,OMN,Asia,Oman,2021-06-27,262059.0,5517.0,2967.0,119.0,NaN,NaN,...,NaN,NaN,NaN,5106622.0,30.7,2.355,1.530,0.5,15.6,0.813
68317,OMN,Asia,Oman,2021-06-28,264302.0,2243.0,3013.0,46.0,NaN,NaN,...,854274.0,213569.0,NaN,5106622.0,30.7,2.355,1.530,0.5,15.6,0.813
68318,OMN,Asia,Oman,2021-06-29,266536.0,2234.0,3056.0,43.0,NaN,NaN,...,NaN,NaN,NaN,5106622.0,30.7,2.355,1.530,0.5,15.6,0.813
68319,OMN,Asia,Oman,2021-06-30,268545.0,2009.0,3100.0,44.0,NaN,NaN,...,NaN,NaN,NaN,5106622.0,30.7,2.355,1.530,0.5,15.6,0.813

In [35]:
try:
    gulfFinal.to_csv('../datasets/gulf.csv')
except:
    save_loc = '../datasets/gulf.csv'
    if not os.pat.exists(save_loc):
        os.mkdir(save_loc)
    gulfFinal.to_csv('../datasets/gulf.csv')